.project
  +flex-column
  padding: 20px
  border-radius: 25px
  background-color: rgba($accent-color, 0.5)
  box-shadow: $main-shadow

  &__title
    font-weight: 500
    font-size: 20px
    text-align: center
    color: $primary-color

  &__image
    flex-grow: 1
    aspect-ratio: 16 / 9
    object-fit: cover
    max-width: 100%

    background-color: $bg-color
    box-shadow: $main-shadow

  &__link
    align-self: center
    padding: 10px
    border: 1px solid $primary-color
    border-radius: 5px
    font-weight: 500
    font-size: 18px
    color: $primary-color
    box-shadow: $main-shadow
    background-color: $bg-color

    +hover-safe
      transform: scale(1.05)
