.header
  background-color: $bg-color

  &__container
    padding-top: 30px
    padding-bottom: 30px

    +container

    @media (min-width: 768px)
      display: flex
      justify-content: space-between
      align-items: center

  &__left-wrapper
    +flex-column(30px)

  &__text
    position: relative
    padding: 20px
    font-size: 20px
    color: $text-color
    text-wrap: balance

    &::before
      content: ""
      position: absolute
      top: 0
      bottom: 0
      left: 0
      width: 5px
      background-color: $accent-color
      border-radius: 5px

    @media (min-width: 768px)
      min-width: 460px
      max-width: 644px
