.about
  display: flex
  flex-direction: column
  gap: 20px

  padding-top: 20px
  padding-bottom: 20px

  +container

  &__text
    text-align: justify
    color: $text-color

    &:not(:last-child)
      margin-bottom: 10px
