.skills
  padding-top: 20px
  padding-bottom: 20px
  background: linear-gradient(135deg, $bg-color 0%, $accent-color 100%)

  &__container
    +flex-column
    +container

    @media (min-width: 768px)
      gap: 40px

  &__list
    +flex-row
    flex-wrap: wrap
    justify-content: center

    @media (min-width: 768px)
      gap: 40px 30px

  @media (min-width: 768px)
    padding-top: 40px
    padding-bottom: 40px
