.skills
  padding-top: 20px
  padding-bottom: 20px
  background: linear-gradient(135deg, $bg-color 0%, $accent-color 100%)

  &__container
    +flex-column
    +container

  &__list
    +flex-row
    flex-wrap: wrap
    justify-content: center

    padding-top: 20px
    padding-bottom: 40px

    @media (min-width: 768px)
      gap: 60px 30px
