@use "assets/styles/fonts"

*
  box-sizing: border-box
  margin: 0
  padding: 0
  border: none
  font-family: "Inter", "Arial", sans-serif

  &::before,
  &::after
    box-sizing: border-box

a
  display: block
  color: inherit
  text-decoration: none
  cursor: pointer

img
  vertical-align: top

ol,
ul
  list-style-type: none

.visually-hidden
  position: fixed
  transform: scale(0)

#root
  padding-top: 75px
  user-select: none
  -webkit-user-select: none
  -ms-user-select: none
  @media (min-width: 768px)
    padding-top: 60px
  @media (min-width: 1400px)
    padding-top: 65px
